.bg-myRed {
  background-color: #c2c5aa;
  width: 100%;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1.5rem;
  list-style-type: none;
  
}
.d-btn {
  background-color: #a4ac86;
}

.navigation {
  width: 100%;
  height: 90px;
  background-color: #B6AD90;
}

.mobile {
    float:right;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    
}

@media (min-width: 769px) {
  .mobile {
    display: none;
    z-index: -1;
  }
}

/* Mobile Design */

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .navigation {
    height: 40px;
    background-color: #B6AD90;

}
}

.hamburger {
    width: 41px;
    
    margin-left: 52px;
}

.mobile-links {
    padding-bottom: 4px;
    min-width: 23px;
    position: absolute;
    top:40px;
    width: max-content;
    display: flex;
}



.mobile-links li {
    list-style-type: none;
    background-color: #656D4A;
    color:whitesmoke;
text-align: center;
padding: 18px;
    justify-content: space-around;
}
