.plant-container h1 {
  margin: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}




.plant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.topPlant {
  margin-top: 5px;
}

.plant-container .plant-card {
  text-align: center;
  margin: 4% 4%;
  /* padding: 100px; */
  max-width: 700px;
  background-color: #A48A64;
  border-radius: 10px;

}
 .plant-card-content {

   flex-wrap: wrap;
   
}

/* Plant Top */



.plant-container .img-container{
 
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plantImg {
object-fit: cover;
object-position: center;
width:50%;


}
/*Plant Text */
.text {

  display: flex;
  
  justify-content: space-between;
  
  background-color: #9366;
  font-family: 'Roboto', sans-serif;
}
.plantText {
  display:flex;
  flex-direction: column;
  margin: 20px;

  background-color:#a57f4d;
}





